* text=auto !eol
engine/textwheel.php -text
engine/textwheelrule.php -text
engine/textwheelruleset.php -text
inc/lien.php -text
inc/memoization-mini.php -text
inc/notes.php -text
inc/texte.php -text
inc/textwheel.php -text
inc/yaml-mini.php -text
lang/paquet-tw.xml -text
lang/paquet-tw_ar.php -text
lang/paquet-tw_en.php -text
lang/paquet-tw_it.php -text
lang/paquet-tw_sk.php -text
lib/yaml/sfYaml.php -text
lib/yaml/sfYamlDumper.php -text
lib/yaml/sfYamlInline.php -text
lib/yaml/sfYamlParser.php -text
modeles/dist.html -text
/textwheel-32.png -text
typographie/en.php -text
typographie/fr.php -text
wheels/spip/echappe-js.yaml -text
wheels/spip/ecrire.yaml -text
wheels/spip/interdire-scripts.yaml -text
wheels/spip/spip-listes.php -text
wheels/spip/spip-listes.yaml -text
wheels/spip/spip-paragrapher.php -text
wheels/spip/spip-paragrapher.yaml -text
wheels/spip/spip-poesie.yaml -text
wheels/spip/spip-tableaux.php -text
wheels/spip/spip-tableaux.yaml -text
wheels/spip/spip.php -text
wheels/spip/spip.yaml -text
